<%- include('header'); -%>
<%- include('menu'); -%>



<div ng-controller="itemCtrl" class="container ng-cloak">

<div class="row">
<%# include content block %>
<% if (content) {  try {%>
  <%- include(content); %>
<% }catch(e){var z=""}} %>
</div>



  <div class="row">
    
	 <h1> {{ item.title }} </h1>
	
  </div>


</div>


<script> var clientItem = <%- JSON.stringify(item) %>;</script>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/item.js"></script>

<%- include('footer'); -%>